/* Allgemein */
body {
    background-color: black;
}

#markenlogo {
    width: 10%;
    height: auto;
    display: block;
    padding-bottom: 0%;
    padding-top: 3%;
    margin: auto
}

/* Überschriften */
h1 {
    color: white;
    font-size: 1.2em;
    margin-left: 1%;
    font-family: 'Tiro Telugu';
    text-decoration: none;
}

h2 {
    color: white;
    font-size: 0.85em;
    margin-left: 1%;
    font-family: 'Roboto';
}

h3 {
    color: white;
    font-size: 1.1em;
    margin-left: 1%;
    margin-top: -1%;
}

h4 {
    color: white;
    font-size: 0.75em;
    margin-top: 10%;
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

/* Technik-Texte */
.technical1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.55em;
    margin-left: 1%;
    margin-top: 10%;
}

.technical2 {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.45em;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 5%;
}

.technical3 {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.45em;
    margin-left: 5%;
    margin-right: 1%;
    margin-top: -4%;
    margin-bottom: 5%;
}

.technical4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.55em;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10%;
}

/* Texte */
.vordaten {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin-left: 7.5%;
    margin-top: 2%;
}

.hauptdaten {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-left: 7.5%;
    margin-top: 2%;
}

.nachdaten {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin-left: 7.5%;
    margin-top: -3%;
}

.bildunterschrift {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.65em;
    margin-left: 1%;
    margin-top: 2%;
}

.langerbildtext {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.45em;
    margin-left: 1%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#overicons {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0%;
}

.imagelink {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    text-decoration: underline;
    margin-top: -10%;
}

.icontexte {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    text-align: center;
    margin-top: -3%;
}

#iconuntertitel {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    text-align: left;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#backtotop {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    margin-top: 5%;
}

#newsletterheader {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: left;
    margin-left: 8%;
    margin-top: -38%;
}

#newslettertext {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    text-align: left;
    margin-left: 8%;
    margin-top: -2%;
}

#legal {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    text-align: left;
    margin-left: 1%;
    margin-top: 5%;
}

#footer {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.55em;
    text-align: left;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 10%;
}

/* Buttons */
#kaufbutton {
    background-color: #00C4FF;
    color: white;
    font-size: 0.9em;
    border: none;
    margin-left: 1%;
    margin-top: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
}

.imagebuttons {
    background-color: #2e2e2e;
    color: white;
    font-size: 1em;
    text-decoration: underline;
    border: none;
    display: block;
    margin: auto;
    margin-bottom: 7%;
    width: 100%;
    height: 75px;
}

.iconbuttons {
    background-color: #00C4FF;
    color: white;
    font-size: 0.9em;
    border: none;
    display: block;
    margin: auto;
    margin-bottom: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 30%;
    padding-right: 30%;
}

.tablebuttons {
    background: linear-gradient(to bottom, rgb(26, 26, 26), rgb(50, 50, 50));
    color: white;
    font-size: 0.9em;
    border: none;
    display: block;
    margin: auto;
    margin-bottom: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 30%;
    padding-right: 30%;
}

#newsletterbutton {
    background-color: #00C4FF;
    color: white;
    font-size: 0.9em;
    border: none;
    display: block;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 35%;
    padding-right: 35%;
}

/* Trennlinien */
.trenner1 {
    width: 85%;
    margin-top: 5%;
    border-color: white;
}

.trenner2 {
    width: 10%;
    border-color: white;
    margin-left: 1%;
    margin-top: -3%;
}

#newsletterline {
    margin-top: 8%;
    margin-bottom: 5%;
}

/* Bilder */
.keyimages {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 5%;
}

#arrowimage {
    width: 15%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 20%;
}

/* Icons */
#configuratoricon {
    width: 40%;
    height: auto;
    display: block;
    margin: auto;
}

#newsletterrectangle {
    display: block;
    margin: auto;
    margin-top: 15%;
    width: 95%;
}

#socials {
    width: 50%;
    margin-left: 1%;
}

/*----------------------------------------*/

/* Tablet */
@media only screen and (min-width: 600px) {

    /* Logo */
    #markenlogo {
        width: 6%;
        padding-bottom: -10%;
        padding-top: 3%;
    }

    /* Überschriften */
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.1em;
    }

    h3 {
        font-size: 1.5em;
        margin-top: 0%;
    }

    h4 {
        font-size: 1em;
        margin-top: 10%;
    }

    /* Technik-Texte */
    .technical1 {
        font-size: 0.8em;
        margin-top: 5%;
    }

    .technical2 {
        font-size: 0.6em;
        margin-left: 5%;
        margin-top: 1%;
        margin-bottom: 5%;
    }

    .technical3 {
        font-size: 0.6em;
        margin-left: 5%;
        margin-right: 1%;
        margin-top: -4%;
        margin-bottom: 5%;
    }

    .technical4 {
        font-size: 0.8em;
        margin-top: 5%;
    }

    /* Texte */
    .vordaten {
        font-size: 1.5em;
    }

    .hauptdaten {
        font-size: 2.8em;
    }

    .nachdaten {
        font-size: 1.2em;
        margin-top: 2%;
    }

    .bildunterschrift {
        font-size: 1.1em;
        margin-top: 1.5%;
    }

    .langerbildtext {
        font-size: 0.6em;
    }

    .icontexte {
        font-size: 1.2em;
    }

    #iconuntertitel {
        font-size: 0.6em;
        margin-top: 5%;
    }

    #backtotop {
        font-size: 1.1em;
        margin-top: 3%;
    }

    #newsletterheader {
        font-size: 1.8em;
        margin-left: 10%;
        margin-top: 5%;
        margin-top: -32%;
    }

    #newslettertext {
        font-size: 0.9em;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 3%;
    }

    #legal {
        font-size: 1em;
        text-align: left;
        margin-top: 3%;
    }

    #footer {
        font-size: 0.7em;
        margin-bottom: 5%;
    }

    /* Buttons */
    #kaufbutton {
        font-size: 1em;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 12%;
        padding-right: 12%;
    }

    .imagebuttons {
        margin-bottom: 5%;
    }

    .iconbuttons {
        font-size: 1em;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 25%;
        padding-right: 25%;
    }

    .tablebuttons {
        font-size: 1em;
        margin-bottom: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 25%;
        padding-right: 25%;
    }

    #newsletterbutton {
        font-size: 1em;
        margin-bottom: 0%;
        margin-top: 7%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 30%;
        padding-right: 30%;
    }

    /* Trennlinien */
    .trenner2 {
        width: 13%;
        margin-top: -1%;
    }

    #newsletterline {
        margin-top: 15%;
        width: 95%;
    }

    /* Bilder */
    .keyimages {
        margin-top: 4%;
    }

    #arrowimage {
        width: 9%;
        margin-top: 13%;
    }

    /* Icons */
    #configuratoricon {
        width: 20%;
        margin-bottom: 3%;
    }

    #newsletterrectangle {
        margin-top: 15%;
        width: 85%;
    }

    #socials {
        width: 25%;
    }
}

/*----------------------------------------*/

/* Desktop */
@media only screen and (min-width: 1200px) {




































































}