/* Allgemeines */
body {
    background-color: black;
}
h1 {
    color: white;
    font-size: 1.2em;
    margin-left: 1%;
    font-family: 'Tiro Telugu', serif;
    text-decoration: none;
}
h2 {
    color: white;
    font-size: 0.65em;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;}
h3 {
    color: white;
    font-size: 1.1em;
    margin-left: 1%;
    margin-top: -1%;
}
h4 {
    color: white;
    font-size: 0.75em;
    margin-top: 10%;
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
}
#markenlogo {
    width: 10%;
    height: auto;
    display: block;
    padding-bottom: 0%;
    padding-top: 3%;
    margin: auto
}
.keyimages {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 5%;
}
#kaufbutton {
    background-color: #00C4FF;
    color: white;
    font-size: 0.9em;
    border: none;
    margin-left: 1%;
    margin-top: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
}
.technical1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.55em;
    margin-left: 1%;
    margin-top: 10%;
}
.technical2 {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.45em;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 5%;
}
.technical3 {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.45em;
    margin-left: 5%;
    margin-right: 1%;
    margin-top: -4%;
    margin-bottom: 5%;
}
.technical4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.55em;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10%;
}
.trenner1 {
    width: 85%;
    margin-top: 5%;
    border-color: white;
}
.trenner2 {
    width: 10%;
    border-color: white;
    margin-left: 1%;
    margin-top: -3%;
}
.vordaten {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin-left: 7.5%;
    margin-top: 2%;
}
.hauptdaten {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-left: 7.5%;
    margin-top: 2%;
}
.nachdaten {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin-left: 7.5%;
    margin-top: -3%;
}
.bildunterschrift {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.65em;
    margin-left: 1%;
    margin-top: 2%;
}
.greyimage {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.imagebuttons {
    background-color: #2e2e2e;
    color: white;
    font-size: 1em;
    text-decoration: underline;
    border: none;
    display: block;
    margin: auto;
    margin-bottom: 7%;
    width: 100%;
    height: 75px;
}
.imagelink {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    text-decoration: underline;
    margin-top: -10%;
}
.langerbildtext {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.45em;
    margin-left: 1%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#overicons {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0%;
}
#configuratoricon {
    width: 40%;
    height: auto;
    display: block;
    margin: auto;
}
.icontexte {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    text-align: center;
    margin-top: -3%;
}
.iconbuttons {
    background-color: #00C4FF;
    color: white;
    font-size: 0.9em;
    border: none;
    display: block;
    margin: auto;
    margin-bottom: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 30%;
    padding-right: 30%;
}
#iconuntertitel {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    text-align: left;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.tablebuttons {
    background: linear-gradient(to bottom, rgb(26, 26, 26), rgb(50, 50, 50));
    color: white;
    font-size: 0.9em;
    border: none;
    display: block;
    margin: auto;
    margin-bottom: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 30%;
    padding-right: 30%;
}
#arrowimage {
    width: 15%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 20%;
}
#backtotop {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    margin-top: 5%;
}
#newsletterrectangle {
    display: block;
    margin: auto;
    margin-top: 15%;
    width: 95%;
}
#newsletterheader {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: left;
    margin-left: 8%;
    margin-top: -38%;
}
#newslettertext {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    text-align: left;
    margin-left: 8%;
    margin-top: -2%;
}
#newsletterbutton {
    background-color: #00C4FF;
    color: white;
    font-size: 0.9em;
    border: none;
    display: block;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 35%;
    padding-right: 35%;
}
#newsletterline {
    margin-top: 8%;
    margin-bottom: 5%;
}
#socials {
    width: 50%;
    margin-left: 1%;
}
#legal {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    text-align: left;
    margin-left: 1%;
    margin-top: 5%;
}
#footer {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.55em;
    text-align: left;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 10%;
}